.button {
    color: #dd361c;
    background-color: white;
    font-family: 'montserrat', sans-serif;
    font-weight: 800;
    font-size: 1.5rem;
    text-transform: uppercase;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    padding: 20px;
    margin: 30px;
}

.button:hover,
.button:focus {
    color: white;
    transform: scale(1.05);
    background-color: #dd361c;
    box-shadow: 1px 1px 50px 0px #9bcfff;
}


