/* Landing Page Styles */


.landingContainer {
  display: flex;
  width: 100%;
  justify-content: space-evenly;
  margin: 50% auto;
}


.landingLogo {
  
  min-width: 200px;
  width: 65%;
}

section .default{
  margin: 60% auto;
}








