/* stylesheet for Planet Component Page */
.planetComponent {
    background-color: rgba(0, 0, 18, 90%);
    border-radius: 7px;
    margin: 10% auto;
    padding: 5%;
    width: 45%;
}

.planetBox {
    display: flex;
    justify-content: space-between;
}

.planetBox h1 {
    color: white;
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    text-transform: uppercase;
}

.imageBox {
    width: 40%;
    margin: 30px;
    padding-bottom: 25px;
}
.imageBox img {
    width: 190px;
}


.buttonContainer {
    margin-left: 20px;
    margin-top: 10px;
}

