/* Contact Page Styles */


/* Text Styles */
.contactContainer h1 {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
}

.contactContainer h2 {
  color: #ffffff;
  text-transform: uppercase;
  font-size: 1.5rem;
  text-align: center;
}

.clientContainer h3 {
  font-size: .8rem;
  text-align: center;
}

.contactContainer p {
  text-transform: none;
}

.clientBox p {
  align-self: center;
  text-transform: none;
  font-size: 15px;
}

.clientBox h2 {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
}


/* container styles */
.contactContainer {
  margin: 5% auto;
  width: 100%;
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  background-color:rgba(1, 4, 24, 0.95);
  border-radius: 10px;
}

.contactContainer h1 {
  width: 100%;
  margin-top: 30px;
  font-size: clamp(2.2rem, 9vw, 3rem);
}

.contactContainer p{
  width: 80%;
}


.contactSideCard {
  flex: 1 1 500px ;
  display: flex;
  flex-direction: column;
  border-radius: 5px;
  background-color:#105bd8;
  margin: 0 20px 35px 25px;
}

.contactSideCard  h2 {
  font-family: 'Montserrat', sans-serif;
}

span {
  display: block;
}


.contactFormContainer {
  width: 100%;
  display: flex;
}

/* for screen reader on input areas */
.hide {
  position: absolute !important;
  top: -9999px  !important;
  left: -9999px !important;
}

.contactFormContainer form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  width: 95%;
  padding-left: 25px;
  justify-content: flex-start;
  align-content: space-evenly;
}

.form {
  width: 100%;
  border-radius: 5px;
  border:none;
  padding: 10px;
  margin: 10px 20px 20px 0;
}


.formFirst {
  flex: 1 0 100px;
  border-radius: 5px;
  border:none;
  padding: 10px;
  display: block;
  margin: 10px 20px 10px 0px;
}

.formLast {
  flex: 2 0 100px;
  border-radius: 5px;
  border:none;
  padding: 10px;
  margin: 10px 20px 10px 0px;
  
}


.textArea{
  width: 100%;
  resize: none;
  border-radius: 5px;
  border:none;
  padding: 10px;
  margin: 0 20px 0 0;
}


/* Button Styles */

.contactFormContainer button {
  color: #dd361c;
  background-color: white;
  font-family: 'montserrat', sans-serif;
  font-weight: 800;
  font-size: 1.1rem;
  text-transform: uppercase;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  padding: 10px;
  width: 220px;
  margin: 0;
}


.contactFormContainer button:hover,
.contactFormContainer button:focus {
  color: white;
  transform: scale(1.02);
  background-color: #dd361c;
  box-shadow: 1px 1px 30px 0px #9bcfff;
}

/* submit success message pop up */
.registerSuccess {
  justify-content: center;
  display: flex;
  align-items: center;
  margin: 20px 0 30px 0;
  padding: 15px;
  text-align: center;
  font-family: 'montserrat', sans-serif;
  font-weight: 700;
  font-size: 1.1rem;
  background-color: #dd361c;
  border-radius: 10px;
  color: white;

}

/* List Styles */

.contactSideCard ul {
  padding: 25px 25px 0px 25px;
  color: white;
}
.contactSideCard li {
  padding: 5px;
}

.icons {
  padding-right: 10px;
}

@media (max-width: 893px) {
  .contactFormContainer {
    flex-direction: column;
  }
  .contactSideCard {
    display: flex;
    flex-direction: row;
    flex-basis: auto;
  }

  .contactSideCard h2 {
    text-align: left;
    padding: 25px;
  }
}

@media (max-width: 625px) {
  .contactSideCard {
    flex-direction: column;
  }
}
