/* Header */

header {
  max-width: 1800px;
  display: flex;
  justify-content: space-between;
  font-family: 'montserrat', sans-serif;
  font-weight: 800;
  margin: 3% auto;
  margin-bottom: 18;
  padding: 0 5%;
}


img {
  width: 100%;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

nav {
  margin-top: 10px;
}

nav a {
  padding: 30px 20px 30px 20px;
  margin: 0;
  color: white;
  text-transform: uppercase;
  border: 1px solid transparent;
  transition: 0.4s ease-in-out;
}

nav a:hover,
nav a:focus {
  background-color: #105bd8;
  border: 1px solid white;
}

nav ul {
  display: flex;
}

.logo {
  width: 350px;
}

.logo img {
  min-width: 210px;
}

.mobileNav {
  display: none;
}


@media (max-width: 800px) {
  .logo {
    width: 350px;
    margin: 3% auto;
  }

  nav .navigation {
    display: none;
  }

  nav .mobileNav {
    display: flex;
    align-items: center;
    
  }

  nav .menu {
    font-size: 50px;
    color: white;
    position: absolute;
    top: 3%;
    right: 5%;
    cursor: pointer;
    
  }

  nav .menuClose {
    font-size: 50px;
    color: white;
    position: absolute;
    top: 3%;
    right: 5%;
    cursor: pointer;
  }

  nav ul {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: absolute;
    top: 10%;
    right: 0;
    width: 173px;
    padding: 10px 10px 20px 10px;
    background-color: rgba(1, 117, 226, 0.8);
    border-top: 2px solid rgb(255, 255, 255);
    border-radius: 0 0 0 5px;
    z-index: 10;
  }

  nav li {
    margin-top: 20px;
  }

  nav a {
    padding: 0;
    margin: 25px;
    color: white;
    text-transform: uppercase;
    border: 0 solid transparent;
    background-color: transparent;
  }

  .mobileNav a:hover,
  .mobileNav a:focus {
    color: white;
    border: none;
    border: 0 solid transparent;
    border-bottom: 2px solid white;
    background-color: transparent;
  }
}

@media (max-width: 500px) {
  .logo {
    margin-top: 25%;
  }
  
}