/* Header */

header{
  display: flex;
  justify-content: space-between;
  font-family: 'montserrat', sans-serif;
  font-weight: 800;
  background-color: black;
}

img{
  width: 100%;
}

li{
  list-style: none;
}

a{
  text-decoration: none;
}

nav{
  width: 50%;
  margin-top: 10px;
}

nav a{
  padding: 30px 20px 30px 20px;
  margin: 0;
  color: white;
  text-transform: uppercase;
  border: 1px solid transparent;
  border-top: none;
  transition: 0.4s ease-in-out;
}

nav a:hover,
nav a:focus{
  background-color: #105bd8;
  border: 1px solid white;
  border-top: none;
}

nav ul{
  display: flex;
}

.logo{
  width: 250px;
}
