.gallery{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
  padding-bottom: 2%;
  padding-left: 0;
}

img{
  width: 100%;
}; 

.linkContainer{
text-align: center;
}

.gridMargin {
  margin-bottom:60px;
}