/* Clients Styles */

.wrapper {
  max-width: 1028px;
  width: 90%;
  margin: 0 auto;
}

.clientContainer{
  display: flex;
  flex-direction: column;
  max-width: 100%;
}

.clientGallery{
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.clientBox {
  border-radius: 10px;
  display: flex;
  width: 30%;
  flex-direction: column;
  background-size: cover;
  background-color:rgba(1, 4, 24, 0.95);
  background-repeat: no-repeat;
  margin: 10px;
  margin-bottom: 15%;
}


.client {
  border-radius: 100%;
  width: 35%;
  margin: 50px auto;
  box-shadow: #8ccdf8 0px 0px 35px 2px;
  transition: 0.5s;
}

.client:hover {
  transform: scale(120%);
}

.clientContainer h1 {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
}

.clientContainer h2 {
  color: #ffffff;
  text-transform: capitalize;
  font-size: 1.5rem;
  text-align: center;
}

.clientContainer h3 {
  font-size: .8rem;
}

.clientContainer p {
  text-transform: none;
}

.clientBox p {
  align-self: center;
  text-transform: none;
  font-size: 15px;
}

.client img{
  object-fit: fill;
}


.textContainer {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 10%;
  margin-top: 10%;
  margin-left: 10px;
  background-color:rgba(1, 4, 24, 0.95);
  border-radius: 10px;
}

.textContainer .default {
  margin-left: 35px;
  margin-bottom: 20px;
}
