/* Clients Styles */

.wrapper {
  max-width: 1028px;
  width: 90%;
  margin: 0 auto;
}

.clientContainer{
  display: flex;
  flex-direction: column;
  max-width: 100%;
}

.clientGallery{
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}

.textContainer h1{
  font-size: clamp(1rem, 9vw, 3rem);
}

.clientBox {
  border-radius: 10px;
  display: flex;
  width: 30%;
  flex-direction: column;
  background-size: cover;
  background-color:rgba(1, 4, 24, 0.95);
  background-repeat: no-repeat;
  margin: 10px;
  margin-bottom: 15%;
  position: relative;
}


.client {
  border-radius: 100%;
  width: 50%;
  margin: 50px auto;
  position: absolute;
  top: -120px;
  left: 25%;
  transition: 0.5s;
}

.client:hover {
  transform: scale(120%);
}

.clientContainer h1 {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
}

.clientContainer h2 {
  color: #ffffff;
  text-transform: capitalize;
  font-size: 1.5rem;
  text-align: center;
}

.clientContainer h3 {
  font-size: .8rem;
  text-align: center;
}

.clientContainer p {
  text-transform: none;
  margin-bottom: 8%;
}

.clientBox p {
  align-self: center;
  text-transform: none;
  font-size: 15px;
}

.clientBox h2 {
  font-family: 'Montserrat', sans-serif;
  text-transform: uppercase;
}

.client img{
  object-fit: fill;
}


.textContainer {
  width: 80%;
  flex-direction: column;
  align-items: flex-start;
  padding-bottom: 10%;
  margin-bottom: 18%;
  margin-top: 10%;
  margin-left: 10px;
  background-color:rgba(1, 4, 24, 0.95);
  border-radius: 10px;
}

.textContainer .default {
  margin-left: 35px;
  margin-bottom: 20px;
}

.clientText {
  margin-top: 30%;
  padding: 3px;
}

@media (max-width: 800px) {
  .clientGallery {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 100%;
  }

  .clientBox {
    width: 55%;
  }

  .textContainer {
    width: 100%;
    margin-bottom: 20%;
  }

}

@media (max-width: 550px) {
  .clientBox {
    min-width: 275px;
    margin-bottom: 30%;
  }
  .textContainer {
    margin-left: 0px;
  }
}

@media (max-width: 450px) {
  .textContainer {
    margin-bottom: 30%;
  }

  .textContainer .default {
    font-size: .9rem;
  }
 
}