.about {
  margin: 0 auto;
  margin-top: 20%;
  margin-bottom: 20%;
  padding: 20px 20px 50px 30px;
}

.about h1{
  text-transform: uppercase;
  padding-top: 20px;
  padding-bottom: 5%;
  font-family: 'Montserrat', sans-serif;
  font-size: clamp(1.9rem, 9vw, 3rem);
}

.about h2{
  padding-left: 27px;
  color:#dd361c;
  margin: 20px 0;
  font-size: clamp(1.4rem, 9vw, 2.5rem);
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;
}

.about p{
  font-size: clamp(1rem, 3vw, 1.1rem);
  font-family: 'Maitree', serif;
  font-weight: 600;
  text-transform: none;
  padding-bottom: 10px;
}

.about span{
  display: block;
  font-weight: 700;
  padding: 10px 0px 10px 0px;
}

@media (max-width: 800px) {
  .about {
    width: 80%;
  }
}
@media (max-width: 800px) {
  .about {
    width: 90%;
    padding: 10px;
    margin: 0;
    margin-bottom: 20%;
  }
}


